mixin meta(title, description)
  title #{title}
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(charset="UTF-8")
  meta(name='description', content=description)
  meta(name='author' content='Ryan Amparo')
  meta(http-equiv='content')

mixin getStylesheets
  +addStylesheet('styles/bootstrap.css')
  +addStylesheet('styles/style.css')
  +addStylesheet('styles/main.css')
  +addStylesheet('plugins/magnific/magnific-popup.css')
  +addStylesheet('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  +addStylesheet('https://fonts.googleapis.com/css?family=Tangerine')


mixin addStylesheet(src)
  link(rel="stylesheet", href=src)

mixin addScript(src)
  script(src=src)

mixin getNavbar(currentPage)
  nav.navbar.navbar-custom.js-navbar
    input(id="dropdown" type="checkbox" class="inputDropdown sr-only")
    label(for="dropdown" class="navbar-toggle")
      div.hamburgerWrap 
        span
        span
        span

    img.spade.grayscale(src="images/spade.png")

    div.collapse.navbar-collapse.navWrapper
      ul.nav.navbar-nav.site-nav.js-site-nav
  

        - var page = currentPage
        - var showreelLink = 'https://www.youtube.com/watch?v=eUf_xfZBc8A'
        - var menu = {'Home': 'index.html', 'Showreel': showreelLink, 'Shop': 'shop.html', 'Contact': '#contactForm'}
    
        each link, name in menu
          li
            if name == 'Showreel'
              a.showreel(href=link)= name
                span.js-bottom-border.bottom-border
            else if name == 'Contact'
              a.bookNow(href=link)= name
                span.js-bottom-border.bottom-border
            else if page == name
              a.active(href=link)= name
                span.js-bottom-border.bottom-border
            else
              a(href=link)= name
                span.js-bottom-border.bottom-border



mixin getLogo
  img(src="images/mslogoEdited.png")


mixin getFooter
  div.container.no-padding
    ul.socialWrapper
      li.social-icon.social-icon-twitter
        a(href="https://www.twitter.com/magicsingh")
          <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 48 48" id="Layer_1" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="24" cy="24" fill="#1CB7EB" r="24"/><g><g><path d="M36.8,15.4c-0.9,0.5-2,0.8-3,0.9c1.1-0.7,1.9-1.8,2.3-3.1c-1,0.6-2.1,1.1-3.4,1.4c-1-1.1-2.3-1.8-3.8-1.8    c-2.9,0-5.3,2.5-5.3,5.7c0,0.4,0,0.9,0.1,1.3c-4.4-0.2-8.3-2.5-10.9-5.9c-0.5,0.8-0.7,1.8-0.7,2.9c0,2,0.9,3.7,2.3,4.7    c-0.9,0-1.7-0.3-2.4-0.7c0,0,0,0.1,0,0.1c0,2.7,1.8,5,4.2,5.6c-0.4,0.1-0.9,0.2-1.4,0.2c-0.3,0-0.7,0-1-0.1    c0.7,2.3,2.6,3.9,4.9,3.9c-1.8,1.5-4.1,2.4-6.5,2.4c-0.4,0-0.8,0-1.3-0.1c2.3,1.6,5.1,2.6,8.1,2.6c9.7,0,15-8.6,15-16.1    c0-0.2,0-0.5,0-0.7C35.2,17.6,36.1,16.6,36.8,15.4z" fill="#FFFFFF"/></g></g></svg>
      li.social-icon.social-icon-insta
        a(href="https://www.instagram.com/magicsingh")
          <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 48 48" id="Layer_1" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="24" cy="24" fill="#444444" r="24"/><path d="M31.2,12.3H16.8c-2.5,0-4.5,2-4.5,4.5v4.8v9.6c0,2.5,2,4.5,4.5,4.5h14.4c2.5,0,4.5-2,4.5-4.5v-9.6v-4.8  C35.7,14.3,33.7,12.3,31.2,12.3z M32.5,15l0.5,0v0.5V19l-4,0l0-4L32.5,15z M20.7,21.6c0.7-1,2-1.7,3.3-1.7s2.6,0.7,3.3,1.7  c0.5,0.7,0.8,1.5,0.8,2.4c0,2.3-1.9,4.1-4.1,4.1s-4.1-1.8-4.1-4.1C19.9,23.1,20.2,22.3,20.7,21.6z M33.4,31.2c0,1.2-1,2.2-2.2,2.2  H16.8c-1.2,0-2.2-1-2.2-2.2v-9.6h3.5c-0.3,0.7-0.5,1.6-0.5,2.4c0,3.5,2.9,6.4,6.4,6.4c3.5,0,6.4-2.9,6.4-6.4c0-0.8-0.2-1.7-0.5-2.4  h3.5V31.2z" fill="#FFFFFF"/></svg>
      
      li.bookNowWrapper.bookNow-initial
        a(href="#contactForm" class="bookNow")
          img(src="images/booknow_brown.png")

      li.bookNowWrapper.bookNow-mailTo
        a(href="mailto:contact@magicsingh.com" class="bookNow")
          img(src="images/booknow_brown.png")
        
      li.social-icon.social-icon-fb
        a(href="https://www.facebook.com/magicsingh")
          <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 48 48" id="Layer_1" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="24" cy="24" fill="#4E71A8" r="24"/><path d="M29.9,19.5h-4v-2.6c0-1,0.7-1.2,1.1-1.2c0.5,0,2.8,0,2.8,0v-4.4l-3.9,0c-4.4,0-5.3,3.3-5.3,5.3v2.9h-2.5V24  h2.5c0,5.8,0,12.7,0,12.7h5.3c0,0,0-7,0-12.7h3.6L29.9,19.5z" fill="#FFFFFF"/></svg>

      li.social-icon.social-icon-yt
        a(href="https://www.youtube.com/magicsingh")
          <?xml version="1.0" ?><!DOCTYPE svg  PUBLIC '-//W3C//DTD SVG 1.1//EN'  'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg enable-background="new 0 0 48 48" id="Layer_1" version="1.1" viewBox="0 0 48 48" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><circle cx="24" cy="24" fill="#CA3737" r="24"/><path d="M35.2,18.5c0-0.1,0-0.2-0.1-0.3c0,0,0-0.1,0-0.1c-0.3-0.9-1.1-1.5-2.1-1.5h0.2c0,0-3.9-0.6-9.2-0.6  c-5.2,0-9.2,0.6-9.2,0.6H15c-1,0-1.8,0.6-2.1,1.5c0,0,0,0.1,0,0.1c0,0.1,0,0.2-0.1,0.3c-0.1,1-0.4,3.1-0.4,5.5  c0,2.4,0.3,4.5,0.4,5.5c0,0.1,0,0.2,0.1,0.3c0,0,0,0.1,0,0.1c0.3,0.9,1.1,1.5,2.1,1.5h-0.2c0,0,3.9,0.6,9.2,0.6  c5.2,0,9.2-0.6,9.2-0.6H33c1,0,1.8-0.6,2.1-1.5c0,0,0-0.1,0-0.1c0-0.1,0-0.2,0.1-0.3c0.1-1,0.4-3.1,0.4-5.5  C35.6,21.6,35.4,19.5,35.2,18.5z M27.4,24.5l-4.7,3.4C22.6,28,22.5,28,22.4,28c-0.1,0-0.2,0-0.3-0.1c-0.2-0.1-0.3-0.3-0.3-0.5v-6.8  c0-0.2,0.1-0.4,0.3-0.5c0.2-0.1,0.4-0.1,0.6,0l4.7,3.4c0.1,0.1,0.2,0.3,0.2,0.5C27.7,24.2,27.6,24.4,27.4,24.5z" fill="#FFFFFF"/></svg>
      

mixin getContactForm
  div.contactForm#contactForm
    form.form(name='contactForm', action='', method='post')
      div.contact-top
        img.circle.pull-left(src="images/magic_circle.png")
        img.equity.pull-right(src="images/equity-black.png")
        div.info
          p CONTACT #[a(href="tel:0778712666") +44778712666]
          p Or... Fill in the form below


      div.innerFormWrapper
        div.input-field
          label(for="name") Name
          input(type="text" name="name" id="name" class="form-field")

        div.input-field
          label(for="email") Email
          input(type="email" name="email" id="email" class="form-field")

        div.input-field
          label(for="occasion") Occasion
          input(type="text" name="occasion" id="occasion" class="form-field")

        div.input-field
          label(for="telephone") Telephone
          input(type="text" name="telephone" id="telephone" class="form-field")
        
        div.input-field.textarea
          label(for="message") Your Message
          textarea(name="message" id="message" class="form-field")

        div.input-controls
          button(type="submit" name="submit" class="form-submit js-form-submit") Submit

mixin getAnimation
  .svgwrapper
    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 90.6 76.8', style='fill: none; ', xml:space='preserve')
      style(type='text/css').
        .st0 {
        display: none;
        }
        .st1 {
        fill: #D4D1CD;
        }
        .st2 {
        fill: #EA8215;
        }
      g#Layer_1.st0
        image(style='display:inline;overflow:visible;', width='803', height='221', xlink:href='mslogo.png', transform='matrix(0.629 0 0 0.629 -79.6487 -8.4106)')
      g#Layer_2
        path.st1(d='M44.6,9.9c0,0-2.6,5.1-9.6,6.7c-1.1,0.3-2.3,0.4-3.5,0.4c-0.9,0-2.2,0-3.3,0c-1.5,0-3,0.2-4.4,0.7\
        c-1.9,0.6-4.4,1.7-7,3.6c-3.8,2.8-6.5,7-7.5,11.6c-0.1,0.6-0.6,5.4-0.6,5.8c0,0,0,1.5,0.2,4.9c0.1,1.9,0.4,3.7,1.1,5.4\
        c1.3,3.5,4.2,8.9,10.8,11.3c0.9,0.3,1.8,0.6,2.8,0.8c3.5,0.7,11.7,1.9,18.1-1.1v-9.3c0,0-4.7,2.9-12.2,2.1c-2-0.2-5.7-1.6-7.3-6.1\
        c-0.8-2.2-1.5-4.3-1.5-6.6c0-2.4,0.1-5.7,1.2-7.6c1.5-2.7,3.2-5.3,10.3-6.4c0.7-0.1,1.5-0.2,2.2-0.3c1.6-0.3,4.6-1.4,5.8-3.1\
        c1.4-2,3-6.1,3.5-7.4C43.9,15.3,45.4,11,44.6,9.9z')
        path.st1(d='M64.3,3.5c0,0-8.2,1-10.9,7.9c-1,2.6-1,5.5,0.5,7.9c0.8,1.4,2.2,2.8,4.6,3.7c6.4,2.3,20.3,6.1,22.6,15.5\
        c0,0,0,0,0,0c0.1,0.5,2.4,11.5-3.3,17.5c-2.3,2.4-5.2,5.6-12.1,5.9c-2.5,0.1-7.6,0.3-10.1,0c-1.7-0.2-4.7-1.1-6.4-2.1\
        c-0.3-0.1-0.4-0.4-0.4-0.7v-6.6c0-0.6,0.6-1,1.1-0.8c3.2,1.1,12.8,3.9,18.2,0.3c0,0,6.1-3.3,4.1-9.8c0,0-0.8-3.5-6.9-6.4\
        c0,0-11.1-5.1-12.9-7.2c0,0-7.5-5.2-4.9-14.2c0,0,1.7-6.9,8.4-10.2c1.8-0.9,3.7-1.2,5.7-1.1L64.3,3.5z')
        polygon.st2(points='29.4,66.9 29.3,73.4 64.3,73.4 64.3,66.9 ')
